<h1><%= t '.title' %></h1>

<p><%= link_to image_tag(@photo.photo.thumb.url), @photo.photo.url %></p>

<p><%= t '.author' %>: <b><%= @photo.user.name %></b></p>
<hr/>

<%= t '.event' %>
<h2><%= @event.title %></h2>

<%= t '.datetime' %>
<h3><%= l @event.datetime, format: :short %></h3>

<%= t '.owner' %>
<h3><%= @event.user.name %></h3>

<p><%= link_to 'Страница события', event_url(@event) %></p>
